@font-face {
	font-family: 'SF Pro Dislay Regular';
	src: url("SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
  font-family: 'SF Pro Dislay Bold';
  src: url("SFPRODISPLAYBOLD.OTF") format("opentype");
}
@font-face {
  font-family: 'SF Pro Text Medium';
  src: url("SF-Pro-Text-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'SF Pro Text Light';
  src: url("SF-Pro-Text-Light.otf") format("opentype");
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.App-body {
  font-family: 'SF Pro Dislay Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: #454545;
  margin-top: 7vh;
}

.App-sidebar {
  margin: 0;
  padding: 0;
  width: 0vh;
  font-family: 'SF Pro Text Light';
  position: fixed;
  height: 100%;
  overflow: auto;
}

.accordion {
  display:flex;
  align-content: center;
}

.sideTitle {
  font-family: 'SF Pro Text Medium';
  color: #a1a1a1;
  margin-left: 25px;
  text-decoration: none;
}

.sideMenu {
  font-family: 'SF Pro Text Medium';
  display:block;
  color: #454545;
  padding: 2px;
  text-decoration: none;
}

.collapsible {
  display:block;
  color: #454545;
  background:none;
  border: none;
  outline: none;
  cursor: pointer;
}

.App-sidebar a {
  display:block;
  padding: 3px;
  text-decoration: none;
}

.App-sidebar a:hover {
  color: #E79057;
}

.collapsible-content {
  padding-left: 25px;
}

.collapsible-content a {
  color:#454545;
}

.App-topbar {
  background-color: #333;
  font-family: 'SF Pro Text Light';
  width: 100%;
  display: flex;
  align-items: center;
  position:fixed;
  z-index: 1;
}

.App-topbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  cursor:pointer;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #E79057;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #454545;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.Section {
  font-family: 'SF Pro Dislay Bold';
}

p {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

h1 {
  filter: drop-shadow(0 4px 4px #454545be);
  padding-left: 60px;
}

h2 {
  padding-left: 60px;
}

ul {
  list-style: none;
  padding-left: 60px;
}

ul li {
  margin: 2rem 0 2rem 0;
  position: relative;
}

ol {
  counter-reset: custom-counter;
  list-style: none;
  padding-left: 0px;
}

ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: custom-counter;
  position: relative;
}

ol li::before {
  content: counter(custom-counter);
  color: #E79057;
  font-weight: bold;
  position: absolute;
  --size: 4vmin;
  left: calc(-1 * var(--size) - 20px);
  width: var(--size);
  min-width: 3vh;
  height: var(--size);
  min-height: 3vh;
  background: #e7915734;
  border-radius: 50%;
  text-align:center;
}

@media screen and (min-width: 768px) {
  .App {
    align-items:flex-start;
  }
  .App-body{
    margin-left: 30vh;
    margin-top: 0vh;
    font-size: calc(5px + 2vmin);
  }
  .App-sidebar {
    width: 30vh;
    font-size: calc(3px + 2vmin);
  }
  ol li::before {
    --size: 3vmin;
  }
}

@media screen and (min-width: 991px) {

  .App-body{
    font-size: calc(2vmin);
  }
  .App-sidebar {
    width: 30vh;
    font-size: calc(2vmin);
  }
}