@font-face {
	font-family: 'SF Pro Dislay Regular';
	src: url("SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
  font-family: 'SF Pro Dislay Bold';
  src: url("SFPRODISPLAYBOLD.OTF") format("opentype");
}

body {
  font-family: 'SF Pro Dislay Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: #454545;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #454545
}

.App-body {
  position: row;
  margin-left: 240px;
}

.App-sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  font-size: calc(1px + 2vmin);
  flex-direction: column;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.App-sidebar a {
  display:flex;
  color: black;
  padding: 2px;
  padding-left: 30px;
  text-decoration: none;
}

.Section {
  font-family: 'SF Pro Dislay Bold';
}

.collapsible {
  display:flex;
  color: black;
  background-color:none;
  border: none;
  outline: none;
  font-size: 15px;
}

p {
  font-size: calc(5px + 2vmin);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}

h1 {
  filter: drop-shadow(0 4px 4px #454545be);
  padding-left: 60px;
}

h2 {
  padding-left: 60px;
}

ul {
  list-style: none;
  padding-left: 60px;
}

ul li {
  margin: 2rem 0 2rem 0;
  position: relative;
}

ol {
  counter-reset: custom-counter;
  list-style: none;
  padding-left: 0px;
}

ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: custom-counter;
  position: relative;
}

ol li::before {
  content: counter(custom-counter);
  color: #E79057;
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 20px);
  width: var(--size);
  height: var(--size);
  background: #e7915734;
  border-radius: 50%;
  text-align:center;
}